# Ignore node_modules in both root and backend folders
node_modules/

# Ignore credentials.json and .env in backend folder
backend/credentials.json
backend/.env

# Ignore node_modules in the backend folder
backend/node_modules/
